<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClassLib.Properties.Settings>
            <setting name="ClassLib_ProviderServer_ProviderServer" serializeAs="String">
                <value>http://localhost/C2C_INRIX_DAL1/Provider/ProviderServer.asmx</value>
            </setting>
        </ClassLib.Properties.Settings>
    </applicationSettings>
</configuration>